
<h1>Archivos AWS</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="UploadFileAws" class="nav-link">Subir archivo</a>
    </li>
    <li class="list-group-item">
        <a asp-action="ListFilesAws" class="nav-link">Lista de archivos</a>
    </li>
</ul>