<h1 class="m-3">Subir Archivos</h1>

<form method="post" enctype="multipart/form-data">
    <label>Archivo</label>
    <input type="file" name="file" />
    <button class="btn btn-success">Subir</button>
</form>
<h1>
    @ViewBag.mensaje
</h1>